
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main > img {
	width: 100%;
}

.order-ref {
	color: white;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #e3002b;
	border-radius: 15px;
	margin-block: 100px;
	padding: 30px 50px;
	font-size: 30px;
	font-weight: 600;
}

.order-ref button {
	font-family: inherit;
	font-weight: inherit;
	border-radius: 10px;
	border: none;
	padding: 20px 30px;
	font-size: 25px;
}
