@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
	margin: 0;
	cursor: default;
}

header {
	display: flex;
	margin-block: 20px;
	justify-content: space-evenly;
	align-items: center;
}

header h1 {
	font-weight: 900;
}

header img {
	height: 50px;
}

.header-title {
	display: flex;
	align-items: center;
	gap: 20px;
}

header ul li {
	display: inline;
	padding: 20px;
	font-size: 18px;
	list-style: none;
	cursor: pointer;
	transition: 300ms ease-in-out;
}

header ul li:hover {
	color: #e3002a88;
}

header ul li.active {
	color: #e3002b;
}

.footer-grid {
	display: grid;
	gap: 30px;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin-inline: 200px;
}

.cell.image {
	justify-self: center;
	align-self: center;
	grid-area: 1/ 3/ -1/ -1;
}

.cell:last-child {
	grid-area: 2/ 1/ 3/ -2;
}

.cell .cell-items {
	gap: 10px;
	display: grid;
	padding: 0;
	list-style: none;
}

.cell:last-child .cell-items {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cell .cell-title {
	font-size: 20px;
	font-weight: 600;
}
